* {
    margin: 0;
    padding: 0;
}

.fundo {
    background-color: #ffc1f9;
    height: 100vh;
    color: #fff;
    font-family: "Madimi One", sans-serif;

}

.calculadora {
    position: absolute;
    background-color: #ff78c5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}

.topo {
    justify-content: center;
    display: flex;
    text-align: center;
}

.botao {
    font-family: "Madimi One", sans-serif;
    width: 50px;
    height: 50px;
    font-size: 25px;
    border: none;
    margin: 3px;
    cursor: pointer;
    border-radius: 8%;
    background-color: #ffc1f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.botao:hover {
    background-color: #c90076;
}

#resultado {
    color: black;
    width: 209px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    background-color: #adf2f4;
    text-align: right;
    padding: 5px;
    border-radius: 8%;
    border: 2px solid black;
}

.zero {
    width: 106px;
    font-size: 25px;
    margin: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8%;
    border: none;
    cursor: pointer;
    background-color: #ffc1f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.zero:hover {
    background-color: #c90076;
}

.igualdade {
    height: 106px;
    font-size: 25px;
    margin: 3px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 8%;
    border: none;
    cursor: pointer;
    background-color: #adf2f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.igualdade:hover {
    background-color: #c90076;
}

.operacao {
    background-color: #c90076;
    font-family: "Madimi One", sans-serif;
    width: 50px;
    height: 50px;
    font-size: 25px;
    border: none;
    margin: 3px;
    cursor: pointer;
    border-radius: 8%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.operacao:hover {
    background-color: #ffc1f9;
}

footer {
    justify-content: center;
    align-items: center;
    background-color: #c90076;
    display: flex;
    font-family: "Madimi One", sans-serif;
    color: white
}